<%= image_tag "logoharry.png", class: "mx-auto d-block img-fluid"%>

  <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
    <% @characteres.each do |x| %>
    <div class="col">
        <div class="card text-center">
            <%= image_tag "harry.jpg", class: "card-img-top img-fluid" %>
          <div class="card-body">
            <h5 class="card-title"><%= x.name %></h5>
            <p class="card-text">Locación: <%= x.location %></p>
            <p class="card-text">Casa: <%= x.house %></p>
          </div>
        </div>
      </div>
      <% end %>
  </div>